$toolbar-radius: 8px;

.ui-frosted-background {
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8.6px);
	-webkit-backdrop-filter: blur(8.6px);
	border: 1px solid rgba(255, 255, 255, 0.34);
	padding: 4px;
	border-radius: $toolbar-radius;
}
